In [1]:

import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale
from numpy import random, float, array
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('C:\\Users\\dell\\shi\\crime_data.csv')
df.head()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,DELHI UT,CENTRAL,2001,29,42,4,28,0,28,62,...,1,113,4,30,7,2,0,13,1422,3750
1,DELHI UT,EAST,2001,56,51,15,24,0,24,163,...,4,257,11,56,11,27,0,23,1552,4447
2,DELHI UT,G.R.P.(RLY),2001,11,4,0,1,0,1,7,...,0,7,0,4,0,0,0,0,129,1630
3,DELHI UT,I.G.I. AIRPORT,2001,2,2,1,0,0,0,4,...,1,5,0,0,2,0,0,2,61,625
4,DELHI UT,NEW DELHI,2001,11,14,0,9,0,9,27,...,3,35,0,20,6,2,0,109,731,2660

In [3]:
df.shape

(208, 33)

In [4]:
df[df.isnull().any(axis=1)].head()

Empty DataFrame
Columns: [STATE/UT, DISTRICT, YEAR, MURDER, ATTEMPT TO MURDER, CULPABLE HOMICIDE NOT AMOUNTING TO MURDER, RAPE, CUSTODIAL RAPE, OTHER RAPE, KIDNAPPING & ABDUCTION, KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS, KIDNAPPING AND ABDUCTION OF OTHERS, DACOITY, PREPARATION AND ASSEMBLY FOR DACOITY, ROBBERY, BURGLARY, THEFT, AUTO THEFT, OTHER THEFT, RIOTS, CRIMINAL BREACH OF TRUST, CHEATING, COUNTERFIETING, ARSON, HURT/GREVIOUS HURT, DOWRY DEATHS, ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY, INSULT TO MODESTY OF WOMEN, CRUELTY BY HUSBAND OR HIS RELATIVES, IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES, CAUSING DEATH BY NEGLIGENCE, OTHER IPC CRIMES, TOTAL IPC CRIMES]
Index: []

[0 rows x 33 columns]

In [5]:
stats = df.sort_values("TOTAL IPC CRIMES", ascending=False)
stats

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
68,DELHI UT,NORTH-WEST,2006,128,151,12,169,0,169,437,...,4,358,28,137,11,412,0,48,5704,11146
56,DELHI UT,NORTH-WEST,2005,128,121,18,190,0,190,572,...,6,333,23,138,53,324,0,21,5531,11019
69,DELHI UT,SOUTH,2006,66,69,13,87,0,87,215,...,5,206,19,141,34,215,0,49,4907,10854
9,DELHI UT,SOUTH,2001,83,75,7,65,0,65,265,...,10,307,15,96,24,22,0,103,3991,10745
57,DELHI UT,SOUTH,2005,67,63,6,87,0,87,231,...,4,214,19,151,36,188,0,34,4454,10529
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Delhi UT,East,2014,61,93,5,185,230,0,0,...,2,0,789,999,600,399,9437,3113,6324,0
190,Delhi UT,Crime Branch,2014,0,3,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
189,Delhi UT,Central,2014,30,44,11,62,91,0,0,...,4,0,288,576,345,231,4124,1132,2992,0
8,DELHI UT,S.T.F.,2001,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
207,Delhi UT,West,2014,55,77,6,101,251,0,0,...,5,1,580,972,709,263,9404,3351,6053,0

In [20]:
x = df['DISTRICT']
real_x = x.unique()
print(real_x)

['CENTRAL' 'EAST' 'G.R.P.(RLY)' 'I.G.I. AIRPORT' 'NEW DELHI' 'NORTH'
 'NORTH EAST' 'NORTH WEST' 'S.T.F.' 'SOUTH' 'SOUTH WEST' 'WEST' 'SPL CELL'
 'IGI AIRPORT' 'NORTH-EAST' 'NORTH-WEST' 'SOUTH-WEST' 'GRP(RLY)' 'STF'
 'OUTER' 'CAW' 'CRIME BRANCH' 'EOW' 'SOUTH-EAST' 'METRO RAIL' 'Central'
 'Crime Branch' 'East' 'IGI Airport' 'Metro' 'New Delhi' 'North'
 'North-East' 'North-West' 'Outer' 'RAILWAY' 'South' 'South-East'
 'South-West' 'Spl Cell' 'SPUWAC' 'Vigilance' 'West']